@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800');
html,
body {
    height: 100%;
    margin: 0px;
}

.navbar {
    height: 50px;
    font-family: 'Roboto';
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    font-size: 25px;
    background-color: #1F2227;
    color: white;
}

.editor-header {
    padding: 5px 25px;
    color: #cfd0d1;
    background-color: #282A36;
    font-family: 'Roboto';
    font-size:14px;
}

.flex {
    display: flex;
}

.editors {
    flex: 1;
}

.editors .editor-container {
    flex: 1;
}

.CodeMirror {
    height: calc(100% - 27px);
}

.editor-css,
.editor-result {
    height: calc(50% - 2px);
}

.editor-result .editor-header {
    justify-content: space-between;
    align-items: center;
}

.editor-result .editor-header #result-tools a {
    color: inherit;
    text-decoration: none;
    font-size: 13px;
}

.editor-result .editor-header #result-tools a:hover {
    text-decoration: underline;
}

.leftbar {
    width: 200px;
    background-color: #282A36;
    border-top: 1px solid #52565e;
    color:white;
    padding:20px 15px;
    font-size:15px;
    font-weight:300;
    font-family:'Roboto';
}

.leftbar a{
    color:inherit;
}

.leftbar code{
    background-color:#282A36;
}

.editor {
    border: 1px solid #52565e;
}

.editor-html {
    height: calc(100% - 2px);
    border-right: none;
}

.divider{
    width:100%;
    height:1px;
    background-color:#72767f;
    margin:10px 0px;
}

.github-logo{
    border-radius:50%;
    margin-left:10px;
}

.leftbar .github-link{
    align-items:center;
}
.leftbar .github-link:hover >  .github-logo{
    box-shadow:0 0 10px white;
}