@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800');
html,
body {
    height: 100%;
    margin: 0px;
}

.navbar {
    height: 50px;
    font-family: 'Roboto';
    display: flex;
    align-items: center;
    padding: 0px 20px;
    font-size: 25px;
    background-color: #282A36;
    color: white;
}

.editor-header {
    padding: 5px 25px;
    color: white;
    background-color: #282A36;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    font-family: 'Roboto';
}

.flex {
    display: flex;
}

.editors .editor-container {
    flex: 1;
}

.editors,
.editors .editor-container,
.editor-html {
    height: 100%;
}

.CodeMirror {
    height: calc(100% - 33px);
}

.editor-html .CodeMirror {
    border-right: 2px solid white;
}

.editor-css,
.editor-result {
    height: 50%;
}